In [1]:
train_file_path = r"D:\ineuron\ML_project\CS-winner\housing\artifact\data_ingestion\2022-09-29-01-30-53\ingested_dir\train\housing.csv"
import pandas as pd
df = pd.read_csv(train_file_path)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.46,38.52,29.0,3873.0,797.0,2237.0,706.0,2.1736,72100.0,INLAND
1,-117.23,33.09,7.0,5320.0,855.0,2015.0,768.0,6.3373,279600.0,NEAR OCEAN
2,-119.04,35.37,44.0,1618.0,310.0,667.0,300.0,2.8750,82700.0,INLAND
3,-117.13,32.75,24.0,1877.0,519.0,898.0,483.0,2.2264,112500.0,NEAR OCEAN
4,-118.70,34.28,27.0,3536.0,646.0,1837.0,580.0,4.4964,238300.0,<1H OCEAN

In [2]:
df.shape

(16512, 10)

In [3]:
x,y = df.drop(['median_house_value'],axis=1),df[['median_house_value']]

In [4]:
x.shape

(16512, 9)

In [5]:
y.shape

(16512, 1)

In [6]:
x.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [7]:
#populating null values
from sklearn.impute import SimpleImputer

In [8]:
numerical_column = x.drop(['ocean_proximity'],axis=1)

In [9]:
simple_imputer = SimpleImputer(strategy="median")

In [10]:
simple_imputer.fit_transform(numerical_column)

array([[-1.2146e+02,  3.8520e+01,  2.9000e+01, ...,  2.2370e+03,
         7.0600e+02,  2.1736e+00],
       [-1.1723e+02,  3.3090e+01,  7.0000e+00, ...,  2.0150e+03,
         7.6800e+02,  6.3373e+00],
       [-1.1904e+02,  3.5370e+01,  4.4000e+01, ...,  6.6700e+02,
         3.0000e+02,  2.8750e+00],
       ...,
       [-1.2272e+02,  3.8440e+01,  4.8000e+01, ...,  4.5800e+02,
         1.7200e+02,  3.1797e+00],
       [-1.2270e+02,  3.8310e+01,  1.4000e+01, ...,  1.2080e+03,
         5.0100e+02,  4.1964e+00],
       [-1.2214e+02,  3.9970e+01,  2.7000e+01, ...,  6.2500e+02,
         1.9700e+02,  3.1319e+00]])

In [11]:
df2 = simple_imputer.transform(numerical_column)

In [12]:
simple_imputer.feature_names_in_

array(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income'],
      dtype=object)

In [13]:
simple_imputer.statistics_

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [14]:
simple_imputer = SimpleImputer(strategy='most_frequent')
simple_imputer.fit_transform(df)

array([[-121.46, 38.52, 29.0, ..., 2.1736, 72100.0, 'INLAND'],
       [-117.23, 33.09, 7.0, ..., 6.3373, 279600.0, 'NEAR OCEAN'],
       [-119.04, 35.37, 44.0, ..., 2.875, 82700.0, 'INLAND'],
       ...,
       [-122.72, 38.44, 48.0, ..., 3.1797, 140400.0, '<1H OCEAN'],
       [-122.7, 38.31, 14.0, ..., 4.1964, 258100.0, '<1H OCEAN'],
       [-122.14, 39.97, 27.0, ..., 3.1319, 62700.0, 'INLAND']],
      dtype=object)